@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-lavender: #c4b5fd;
  --color-mint: #6ee7b7;
  --color-peach: #fca5a5;
  --color-rose: #f9a8d4;
  --color-cream: #fef3c7;
}