@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-lavender: #e3def8;  /* بنفش ملایم */
  --color-mint:     #a7f3d0;  /* سبز ملایم */
  --color-peach:    #fbdebc;  /* هلویی ملایم */
  --color-sky:      #bae6fd;  /* آبی ملایم */
  --color-rose:     #fecdd3;  /* صورتی ملایم */
  --color-cream:    #fef9c3;  /* کرم ملایم */
}